{% extends 'sudarat_app/mainHTML.html' %} {% block content %}

<div style="padding: 5rem 20rem">
  <div class="h3 text-center">
      Create Student
  </div>
  <form action="{% url 'saveMenber' %}" enctype="multipart/form-data" method="post">
      {% csrf_token %}
      <div class="form-group">
          <div style="margin:0.5rem 0">
              <label for="">Student ID/รหัสนักศึกษา</label>
              <input type="text" class="form-control" required name="member_studentId" placeholder="Student ID">
          </div>
          <div style="margin:0.5rem 0">
              <label for="">Firstname/ชื่อ</label>
              <input type="text" class="form-control" required name="member_firstname" placeholder="Firstname">
          </div>
          <div style="margin:0.5rem 0">
              <label for="">Lastname/นามสกุล</label>
              <input type="text" class="form-control" required name="member_lastname" placeholder="Lastname">
          </div>
          <div style="margin:0.5rem 0">
              <label for="">Infomation/ประวัติส่วนตัว</label>
              <input type="text" class="form-control" required name="member_detail" placeholder="Infomation">
          </div>
          <div style="margin:0.5rem 0">
              <label for="">Image/รูปภาพ</label>
              <input type="file" accept="image/" required class="form-control" name="member_image" />
          </div>
      </div>
      <div>
          <button type="submit" class="btn btn-primary">Add Student</button>
      </div>
  </form>
</div>
{% endblock %}
