{% extends 'sudarat_app/mainHTML.html' %}
{% block content %}
    {% for msg in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Warning!!!:</strong> {{msg}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card p-4 mt-5">
            <h1 class="card-title">Login User</h1>
                
                <form action="{% url 'loginData' %}" method="POST">
                    {% csrf_token %}
                        <div class="input-group flex-nowrap my-2">
                            <input type="text" class="form-control" placeholder="Username" aria-label="Username" name="username" required>
                        </div>
                        <div class="input-group flex-nowrap my-2">
                            <input type="password" class="form-control" placeholder="Password" aria-label="Password" name="password" required>
                        </div>
                                            
                    <button type="submit" class="btn btn-success">Login</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}